.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: unset;
  padding-bottom: unset;
}
h2 {
  color: #fff;
  font-style: oblique;
  font-weight: bold;
}
.sub-main {
  border-style: ridge;
  display: ruby;
  justify-content: center;
  height: 500px;
  width: 60%;
  box-shadow: grey;
  padding-top: 10px;
  border-radius: 20px;
  background-color: rgb(3, 3, 51);
}
.imgs {
  padding-top: 1px;
  justify-content: center;
  display: flex;
}
.container-image {
  background-color: white;
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
}
.profile {
  height: 90px;
  width: 90px;
  border-radius: 120px;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset;
  border: none;
  outline: none;
  background-color: blue;
}

.email {
  height: 15px;
  width: 15px;
  position: absolute;
  padding: 10px 0 0 20px;
}

.name {
  padding-left: 50px;
  font-size: 20px;
}
.second-input {
  padding-top: 20px;
}
h1 {
  color: #fff;
  font-style: oblique;
  font-weight: bold;
}
h3 {
  color: #fff;
  font-style: oblique;
  font-weight: bold;
}

button {
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: red;
  color: rgb(3, 3, 51);
  font-size: 25px;
  border: none;
}
button:link {
  color: white;
}

/* visited link */
button:visited {
  color: white;
}

/* mouse over link */
button:hover {
  color: rgb(3, 3, 51);
  background-color: white;
}

/* selected link */
button:active {
  background-color: white;
}
.login-button {
  padding-top: 25px;
}

.link {
  font-size: 25px;
  font-weight: 400;
}
a {
  color: #03025c;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.a {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: unset;
  padding-bottom: unset;
}
.b {
  border-style: ridge;
  display: ruby;
  justify-content: center;
  height: 500px;
  width: 60%;
  box-shadow: white;
  padding-top: 10px;
  border-radius: 20px;
  background-color: rgb(3, 3, 51);
}
.c {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.d {
  background-color: white;
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.e {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

input {
  width: 600px;
  height: 60px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
}

.f {
  padding-left: 70px;
  font-size: 20px;
}
.g {
  padding-top: 20px;
}

button {
  width: 250px;
  height: 50px;
  border-radius: 60px;
  background-color: red;
  color: white;
  font-size: 25px;
  border: none;
}
.h {
  padding-top: 25px;
}

.i {
  background-color: #03025c;
  color: white;
  font-size: 25px;
  font-weight: 400;
}
.srk1 {
  color: #03025c;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: unset;
}
.srk2 {
  display: ruby;
  color: #fff;
  justify-content: center;
  height: 100px;
  width: 70%;
  box-shadow: grey;
  padding-top: 30px;
  padding-right: 170px;
  padding-left: 230px;
  border-radius: 20px;
  background-color: rgb(10, 4, 65);
}
.srk3 {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
.srk4 {
  background-color: #888;
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.srk5 {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}
.srks5 {
  height: 300px;
  width: 300px;
  border-radius: 300px;
}
.bnks {
  color: #03025c;
  font-size: 50px;
}
.bnks2 {
  font-size: 25px;
}

.table {
  color: #fff;
  font-style: oblique;
  font-weight: bold;
}
td {
  color: red;
  font-style: oblique;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 20px;
}
th {
  color: #fff;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding-left: 60px;
}
.navbar-brand {
  color: red;
  font-style: oblique;
}
